<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RealTime</title>
    <script src="jquery.js"></script>
    <script src="node_modules/socket.io-client/dist/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="xuly.js"></script> 
   
</head>
<body>
    <div class="login">
        <button id="VaoChat">VÀO CHAT</button>
    </div>
    <div class="wrapper">
        <div class="listOnline">
            <div id="header"><div class="content">List Online</div></div>
            <div id="list">
                <!-- Danh Sách Người Online -->
            </div>
        </div>
        <div class="ChatRealTime">
            <div id="top">
                <p>Hello <a href="#" id="LogOut">Đăng Xuất</a></p>
            </div>
            <div id="Chat-Box">
                <!-- Nội Dung Chat -->
                <!-- <div id="Content">ABC</div> -->
            </div>
            <div id="Chat">
                <input type="text" placeholder="Text ..." id="ContentChat">
                <button id="Send">Send</button>
            </div>
        </div>
    </div>
</body>
</html>
